{% extends '_layout.html' %} 
{% block head %}
    <link rel="stylesheet" href="/static/Styles/add_vehicle.css">
{% endblock %}

{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vehicle</title>
</head>
<body>
    <div class="container">
        <h2>Add Vehicle</h2>
        <form action="/addvehicle" method="POST">
            <div class="form-group">
                <label for="make">Make:</label>
                <input type="text" class="form-control" id="make" placeholder = "Please enter the make" name="make" required>
            </div>
            <div class="form-group">
                <label for="model">Model:</label> 
                <input type="text" class="form-control" id="model" placeholder = "Please enter the model" name="model" required>
            </div>
            <div class="form-group">
                <label for="year">Year:</label>
                <input type="text" class="form-control" id="year" placeholder = "Please enter the year" name ="year" required>
            </div>
            <div class = "form-group">
                <label for = "color">Color:</label>
                <input type = "text" class = "form-control" id = "color" placeholder="Please enter the color" name = "color" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
{% endblock %}