<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- This line is so that each html page we make and have its down title -->
    {% block head %}{% endblock %} 
    <header style="background-size: auto 20px;">
        <div class="bannerLogin">
          <nav>
            <img src="/static/photos/Logo.png" alt="Company Logo" id="navLogo"  style="max-height:20px; width: auto;"/>
            <a href="/" class="loginNavBar"><u>Home</u></a>
            <a href="" class="loginNavBar">About</a>
            <a href="" class="loginNavBar">Contact Us</a>
            <div id="Right-Nav">
              <a href="/drives" class="loginNavBar">View All Drives</a>
              <a href="/create" class="loginNavBar">Create New Drive</a>
              <a href="/edit" class="loginNavBar">Edit A Drive</a>
            </div>
          </nav>
        </div>
      </header>
</head>
<body>
    <!-- This line is so each html page we make has a place for its html code -->
    {% block body %}{% endblock %}
</body>
</html>