{% extends '_layout.html' %} 

{% block head %}
    <link rel="stylesheet" href="/static/Styles/create_drive.css">
{% endblock %}

{% block body %}
<h1 align="center">Create a Drive</h1>
<form method="POST" action="/creating">
<div class="left-div">
    <h2>Mileage Traveled</h2>
    <input class="form-control" name= "mileage" id="mileage" type="number" placeholder="Mileage Traveled" aria-label="Mileage Traveled">
</div>
<div class="right-div">
    <h2>Duration</h2>
    <input class="form-control" name = "duration" id="duration" type="number" placeholder="Time Spent Driving (minutes)" aria-label="Time Spent Driving">
</div>
<div class="left-div">
    <h2>Vehicle</h2>
    <input class="form-control" list="vehicleOptions" id="vehicleSelect" name="vehicleSelect" placeholder="Type to search your registered vehicles...">
    <datalist id="vehicleOptions">
    <option value="Toyota Camry (2013)">
    <option value="Ford F-150 (2022)">
    <option value="Nissan Altima (2018)">
    </datalist>
</div>
<div class="right-div">
    <h2>Tags</h2>
    <div class="left-div">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="commute">
        <label class="form-check-label" for="commute">
         Commute
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="NDE">
        <label class="form-check-label" for="NDE">
          Near Death Experience
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="carpool">
        <label class="form-check-label" for="carpool">
          Carpool
        </label>
      </div>
      </div>
      <div class = "right-div">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="highway">
        <label class="form-check-label" for="carpool">
          Mostly Highway
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="backroad">
        <label class="form-check-label" for="carpool">
          Mostly Backroads
        </label>
      </div>
    </div>
</div>
<div class = "create-drive">
<h2>Title</h2>
    <input class="form-control" id="titleDrive" name="titleDrive" type="text" placeholder="Title your drive" aria-label="Drive Title">
<h2>Caption</h2>
    <input class="form-control" id="captionDrive" name="captionDrive" type="text" placeholder="Caption your drive" aria-label="Drive Caption" size="150px">
<div class="mb-3">
    <h2>Add a photo from your drive</h2>
    <input class="form-control" type="file" id="drivePhoto" name="drivePhoto">
    </div>
<input class="btn btn-primary btn btn-primary-primary" type="submit" value="Submit">
  </form>
</div>

{%endblock%}