{% extends '_layout.html' %} 
{% block head %}
<link rel="stylesheet" href="/static/Styles/index.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/Scripts/textyle.min.js"></script>
{% endblock %}

{% block index_background %}
<div class="h1-header">
  <h1 class="ex1">Welcome!</h1>
</div>
{% endblock %}

{% block body %}
  <main>
    <div id="Boxes">
      <div id="Box1">
        <h4>Live</h4>
      </div>
      <div id="Box2">
        <h4>Laugh</h4>
      </div>
      <div id="Box3">
        <h4>Love</h4>
      </div>
    </div>
  </main>
{% endblock %}

<!-- Basic page to show you how we should layout our project -->
