{% extends '_layout.html' %} 
{% block head %}
<link rel="stylesheet" href="/static/Styles/index.css"/>
{% endblock %}

{% block index_background %}
<div class="h1-header">
  <h1>Record. Track. Share. Learn more about your traffic habits.</h1>
</div>
{% endblock %}

{% block body %}
  <main>
    <div id="Boxes">
      <div id="Box1">
        <h4>Live</h4>
      </div>
      <div id="Box2">
        <h4>Laugh</h4>
      </div>
      <div id="Box3">
        <h4>Love</h4>
      </div>
    </div>
    <div>
      <h2 align="center">Love it or hate it, driving goes hand in hand with the American dream.</h2>
      <p>Founded in 2024 in the Queen City of Charlotte, North Carolina, our project was born out of an interest in traffic data and a hatred of I-77 at rush hour. 
      The average Charlotte, NC resident spent <a href = "https://inrix.com/scorecard-city-2022/?city=Charlotte%20NC&index=318">25 hours of their life spent in traffic delays in 2022.</a> That's an entire day being lost due to jams and delays.</p>
      <p>Of course, not every drive is a negative experience. Plenty of Americans love to go mudding, drag racing, or occupy their mind with a long drive.
      Learning more about their driving habits can benefit every user. For those with a love/hate relationship with their commute, logging their drives with <b>🤩 Happy Fun Time Go Drive 😃</b> allows them to do a more informed cost benefit analysis of choosing an internal combustion or electric vehicle. For racing enthusiasts, users will be able to log their drag strip and short track times.</p>
      <p></p>
      </div>
  </main>
{% endblock %}

<!-- Basic page to show you how we should layout our project -->
