{% extends '_layout.html' %} 

{% block body %}

<h1 align="center">Kyle's Drive</h1>

<div class="individual-drive-div">
    <img src="../static/photos/Drive1.jpg" alt="Drive1" class="individual-photo">
    <div class="individual-info">
        <p>
            Distance: 55.7
        </p>
        <p>
            Vehicle: Honda Civic
        </p>
        <p>
            Duration: 1 Hour 20 Minutes
        </p>
        <p class="description">
            Description: 
        </p>
        <div class="description-box description">
            Today I drove through the country side. It was very beautiful glad that I have this amazing website to track this drive.
        </div>
        <button class="btn btn-primary">Like</button>
        <button class="btn btn-primary">Comment</button>
        <button class="btn btn-primary">Share</button>

        <form action="/viewdrive/{{ username }}/{{ drive_id }}/delete" method="POST">
            <input type = "hidden" name = "username" value = "{{username}}">
            <button class = "btn btn-danger">Delete</button>
        </form>
    </div>
</div>
{%endblock%}