{% extends 'base.html'}

{%block head%}


<title> Users Drives </title>
<link rel ="stylesheet" href="/static/styles.css"
{%endblock%}


{%block body%}

<header style="background-size: auto 20px;">
    <div class="bannerLogin">
        <nav>
            <img src="/static/photos/Logo.png" alt="Logo!" id="navLogo" />
            <a href="" class="navBar"><u>Home</u></a>
            <a href="" class="navBar">About</a>
            <a href="" class="navBar">Contact Us</a>
            <div id="Right-Nav">
            <a href="" class="navBar">Login</a>
            <a href="" class="navBar">Sign Up</a>
            </div>
        </nav>
    </div>
</header>

<main style="background-image: url('/static/photos/ferrari.jpg');
background-size:cover;height:100vh"></main>
