{% extends '_layout.html' %} 

{% block body %}
<link rel="stylesheet" href="../static/Styles/create_drive.css">
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-primary" role="alert">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<h1 align="center">{{ drive.first_name }}'s Drive</h1>

<div class="individual-drive-div">
    <img src="{{ drive.photo }}" alt="{{ drive.photo}}" class="individual-photo">
    <div class="individual-info">
        <p>
            Vehicle: {{ drive.make }} {{ drive.model }}
        </p>
        <p>
            Year: {{ drive.year }}
        </p>
        <p>
            Distance: {{ drive.mileage }}
        </p>
        <p>
            Duration: {{ drive.duration }} minutes
        </p>
        <p>
            Date: {{ drive.date }}
        </p>
        <p class="description">
            Description: 
        </p>
        <div class="description-box description">
            {{ drive.caption }}
        </div>
        <a href="/edit"><button class="btn btn-primary mt-3">Edit</button></a>
        <a href="/like"><button class="btn btn-primary mt-3">Like</button></a>
        <button class="btn btn-primary mt-3" id="viewcomments">View Comments</button>
        <form action="/drive/{{ drive.drive_id }}" method="POST">
            <input type = "hidden" name = "drive_id" value = "{{drive.drive_id}}">
            <br>
        <button class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
{% if request.args.get('showdiv') == 'True' %}
<div class="bottom-div" style="display: block;">
{% else %}
<div class="bottom-div" style="display: none;">
{% endif %}
    <div style="text-align: center;">
        <button id="downarrow">&#9660;</button>
        <br>
        <h3>Comments</h3>
    </div>
    
    <div class="comments">
        {% for comment in comments %}
        <p>{{comment.username}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{comment.date}}</i><br> {{comment.comment}} {% if usersession == comment.username or usersession == drive.username %}&nbsp;&nbsp;&nbsp;<a class="nounderline" href="/delete/comment/{{ drive.drive_id }}/{{ comment.comment_id }}"><i>delete</i></a>{% endif %}</p>
        {% endfor %}
    </div>
    <form method="POST" action="/makecomment/{{ drive.drive_id }}">
        <input class="makecomment" type="text" name="newcomment" placeholder="Add a comment">
        <button id="submitcomment" type="submit" class="btn btn-primary commentsubmit">Comment</button>
    </form>
    
    
</div>
<script src="../static/js/comments.js"></script>
{%endblock%}