{% extends '_layout.html' %} 

{% block body %}

  <main style="background-image: url('/static/photos/lamborghini.webp'); background-size:cover;height:100vh">
    <table class="table table-bordered table-secondary" style="max-width: 400px; margin: 0 auto; margin-top: 10px; height: 20px;">
        <thead>
            <th>Rank</th>
            <th>Name</th>
            <th>Miles Driven</th>
        </thead>
        <tbody>
            {%for i in range((10,leaders|length)|min)%}
            <tr>
              <td>{{i+1}}</td>
              <td>{{leaders[i][0]}}</td>
              <td>{{leaders[i][1]}}</td>
            </tr>
            {%endfor%}
        </tbody> 
    </table>

  </main>

{% endblock %}
