{% extends 'base.html' %} {% block head %}
<title>Home</title>
<link rel="stylesheet" href="/static/styles.css" />
{% endblock %} 

{% block body %}


<header style="background-size: auto 20px;">
    <div class="bannerLogin">
      <nav>
        <img src="/static/photos/Logo.png" alt="Logo!" id="navLogo"  style="max-height:20px; width: auto;"/>
        <a href="/" class="loginNavBar"><u>Home</u></a>
        <a href="" class="loginNavBar">About</a>
        <a href="" class="loginNavBar">Contact Us</a>
        <div id="Right-Nav">
          <a href="/login" class="loginNavBar">Login</a>
          <a href="/signUp" class="loginNavBar">Sign Up</a>
          <a href="/leaderboard" class="loginNavBar">Leader Board</a>
        </div>
      </nav>
    </div>
  </header>



<!-- Creates the login widget in the middle of the screen -->
    <main style="background-image: url('/static/photos/mustang.avif'); background-size:cover;height:100vh">

      <div class="container-md" style="max-width: 300px; ">
        <h1 style="font-weight: bold; text-align: center;">LOGIN</h1>
        <form>
          <div class="mb-3">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" id="username" aria-describedby="username">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
      </div>

    </main>
{% endblock %}
