.left-div {
  width: 50%;
  float: left;
  padding: 10px;
}
.right-div {
  width: 50%;
  float: right;
  padding: 10px;
}
.create-drive-title {
  padding: 10px;
  width: 70%;
}

.individualbox:hover {
  transform: scale(1.1);
}
.individualbox:not(:hover) {
  transform: scale(1);
}

.edit-drive-left {
  width: 50%;
  float: left;
}
.edit-drive-right {
  padding: 20px;
  width: 50%;
  float: right;
}
#drive-photo {
  padding-left: 1%;
  width: 55%;
  height: 55%;
}
