body {
  padding: 0px;
  margin: 0px;
  background-color: gray;
}
header {
  background-color: transparent !important;
  background-image: url(/static/photos/index_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 30%;
  padding-bottom: 15%;
}
.h1-header > h1 {
  color: white;
  text-align: center !important;
  font-size: 80px;
  padding-top: 100px;
}

#Boxes {
  display: flex;
}

#Boxes > div {
  flex: 1;
  border: 1px solid white;
  color: white;
  padding: 35px;
  margin: 10px;
  text-align: center;
}

.ex1 {
  opacity: 0;
  span {
    position: relative;
    top: 10px;
    left: 10px;
    opacity: 0;
  }
}
