body {
  padding: 0px;
  margin: 0px;
  background-color: gray;
}
.bannerLogin{
  height: auto;
  display: block;
  background-image: url("/static/photos/index_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bannerlogin *{
  color: white;
  text-align: center;
}
.loginNavBar{
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-left: 25px;
}
.banner {
  /* position: relative; */
  height: 900px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner > h1 {
  color: white;
  text-align: center;
  font-size: 75px;
}

nav {
  background-color: transparent;
  padding: 20px;
  display: flex;
  align-items: center;
}

#navLogo {
  width: 175px;
  height: auto;
  vertical-align: middle;
}

.navBar{
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-left: 25px;
}
a:hover {
  color: blue;
}

#Right-Nav {
    display: flex;
    margin-left: auto;
    padding-right: 20px;
  }

#Boxes {
  display: flex;
}

#Boxes > div {
  flex: 1;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  text-align: center;
}

.left-div {
  width: 50%;
  float: left;
  padding: 10px;
}
.right-div {
  width: 50%;
  float: right;
  padding: 10px;
}
.create-drive-title{
  padding: 10px;
  width: 70%;
}

.individual-drive-div{
  height: 300px;
  width: 500px;
  background-color: white;
  background-size:cover;
  height:100vh;
  width: 175vh;
  border-radius: 10px;
}

.individual-photo{
  width: 50%;
  height: 99%;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 50px;
}

.individual-info{
  background-color: lightgrey;
  height: 92%;
  width: 41%;
  display: inline-block;  
  border-radius: 20px;
  margin-left: 12px;
  position:absolute;
  margin-top: 30px;
  padding-left: 20px;
  font-size: 30px;
  padding-top: 50px;
}

.description{
  font-size: 20px;
}

.description-box{
  background-color: white;
  height: 300px;
  width: 550px;
  border-radius: 5px;
  padding: 7px;
}