.individual-photo {
  /* width: 700px; */
  width: 100%;
  margin: 0;
  padding: 0;
  /* height: 93.5%; */
  /* padding-top: 10px;
  padding-left: 10px;
  border-radius: 50px;
  margin-top: 19px; */
}
img {
  border: 1px solid black;
}
col {
  border: 1px solid red;
}

.bottom-div {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 88%;
  max-width: none;
  height: calc(40vh);
  background-color: rgb(59, 50, 50);
  z-index: 999;
  transition: height 0.3s ease;
  border-radius: 15px 15px 0px 0px;
  color: white;
  padding: 20px;
  padding-left: 5%;
}

.drive-div {
  font-size: 15px;
}

#downarrow {
  border-radius: 5px;
  height: 25px;
  padding-bottom: 10px;
  width: 50px;
}

.makecomment {
  margin-top: 10px;
  width: 1100px;
  border-radius: 20px;
  padding-left: 10px;
}

.commentsubmit {
  height: 28px;
  width: 125px;
  padding-top: 1px;
}
.nounderline {
  text-decoration: none;
}

.comments {
  max-height: 150px;
  overflow-y: auto;
  border-top: 2px solid rgb(68, 65, 65);
  border-bottom: 2px solid rgb(68, 65, 65);
}

.description {
  font-size: 16.5px;
  margin-left: 8px;
  width: 610px;
}

.description-box {
  background-color: white;
  max-height: max-content;
  width: 500px;
  border-radius: 5px;
}
.individualbox:hover {
  transform: scale(1.1);
}
.individualbox:not(:hover) {
  transform: scale(1);
}
