body {
  display: block;
  margin: 0px;
  padding: 0px;
  background-image: url("/static/photos/ferrari.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

h1 {
  color: black;
  font-size: 2em;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  text-align: center;
  padding-bottom: 30px;
}

.table-light {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
}

tr {
  border-bottom: 2.5px dotted black;
}

.table-box {
  text-align: center;
}
.table {
  padding: 0px;
  margin: 0px;
}

.buttons {
  flex-basis: 0;
}
