.form-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-container .add-vehicle-form,
.form-container .edit-vehicle-form {
    width: calc(50% - 10px);
}

.form-container form .form-group {
    width: 100%;
}

.form-container form .form-group label {
    width: 30%; 
}

.form-container form .form-group input {
    width: 70%; 
}